[2016-02-22 21:23] theolampert opened #1 "Update to es6"

[2016-07-15 08:50] theolampert opened #3 "Update dependencies"

[2016-07-17 07:56] #3 closed

[2017-01-23 09:33] avnersorek opened #4 "Component breaks SSR"
When trying to render this on the server I get -
[code]

[2017-05-31 20:21] imjared opened #5 "Cannot read property 'innerWidth' of undefined"
We're consistently getting this error in our isomorphic app. Not sure if this is something you've seen but flagging anyways for future weary Googlers. Will update if I find a solution.

![image](https://cloud.githubusercontent.com/assets/525011/26652215/2241e880-461d-11e7-8dfe-5c226ecf9bb3.png)

[2017-07-21 10:37] Abhi0725 commented on #5
@imjared
I am getting the same issue. Did you find any solution?

[2017-07-22 10:51] theolampert commented on #5
He, I created this for use on a small project quite a while ago and haven't looked at it since. I'm not surprised it won't render server side given the way flickity works and carousels in general, it isn't possible to measure the dimensions of DOM elements server side. Honestly I'm also not sure the approach here is the best, if you're interested there is an open PR on the flickity repo itself htt

[2017-07-22 14:14] theolampert commented on #5
@imjared @Abhi0725 could you guys try installing from the dev branch? `npm install https://github.com/theolampert/react-flickity-component.git#dev`

[2017-07-22 14:15] theolampert commented on #4
Closing this in favour of #5

[2017-07-22 14:15] #4 closed

[2017-07-24 17:22] #1 closed

[2017-07-24 23:52] imjared commented on #5
@Abhi0725 - we ended up writing our own wrapper for flickity

[2017-07-25 07:48] #5 closed

[2017-09-09 18:19] theolampert opened #8 "Add documentation for reloadOnUpdate"
Related #7

[2017-09-19 19:14] #8 closed

[2017-09-27 08:13] greenkeeper[bot] opened #9 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-10-28 14:27] #9 closed

[2017-11-28 22:27] Kinark opened #14 "Issue when adding/removing cells from Flickity"
I'm trying to add cells dynamically by mapping a state object and remapping after an ajax call ends:

[code]
However, what I get rendered after the ajax call is something like this:

[code]
I mean, if I have more cells in the remap than I had before, they're added outside the viewport and the slider. And if I have less cells in the ajax call than I had before, I got an error:

`Uncaught DOMExcepti

[2017-11-30 18:40] timothywisdom commented on #5
I have just found that setting the Flickity option:
watchCSS: false
makes this error go away.

[2017-12-01 15:54] theolampert commented on #14
hey @Kinark I'll take a look into this and get back to you.

[2017-12-04 18:10] theolampert commented on #14
@Kinark So I've been thinking of some ways to allow this package to use dynamic children but haven't come up with anything super useful. Flickity expects cells to be added and removed with the `.append` / `.insert` and `.remove` methods. It also expects these to be native DOM elements not react elements so the children can't be passed to these methods internally without first being converted to DO

[2017-12-04 19:00] Ismael commented on #14
Forcing the user to manage the elements "by hand" IMO breaks the beauty of React.
I'd expect the component to "just work". Whatever black magic is required should be contained in the component.

[2017-12-05 10:29] theolampert commented on #14
@Ismael yeah I tend to agree, if I put up a test branch would you be willing to help out testing this?

[2017-12-05 10:52] Ismael commented on #14
Sure

On Dec 5, 2017 7:29 AM, "Theo" <notifications@github.com> wrote:

@Ismael <https://github.com/ismael> yeah I tend to agree, if I put up a
test branch would you be willing to help out testing this?

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/theolampert/react-flickity-component/issues/14#issuecomment-349262399>,
or

[2017-12-06 23:24] ryanwiemer opened #16 "Using React 16 and Portals with Flickity"
@theolampert

I can't say I have tested this myself but have you taken a look at this comment on the flickity repo regarding React 16 and portals?

https://github.com/metafizzy/flickity/pull/488#issuecomment-339361054

I'm just curious if that is relevant to your code here or if the approach that you have taken has pros/cons that make it a better choice.

Thanks,
Ryan

[2017-12-11 20:12] adrian2x opened #17 "Options for custom next() and previous() func"
This would allow controlling the carousel using custom UI for next and previous

[2017-12-11 20:15] adrian2x commented on #17
Adding other flickity events would prob be really useful in general https://flickity.metafizzy.co/events.html

[2017-12-29 00:54] bhushanscholastic opened #20 "Unexpected token: name (src_FlickityComponent)"
Thanks for the react flickity component.  I am getting below error when I try to build with npm run build command.

ERROR in 0.87a941d054f3f7a31f25.chunk.js from UglifyJs
Unexpected token: name (src_FlickityComponent) [0.87a941d054f3f7a31f25.chunk.js:1079,6]
Child html-webpack-plugin for "index.html":
     1 asset

build script I am using is : cross-env NODE_ENV=production webpack --config interna

[2018-01-10 14:35] leopaglia opened #21 "Precompile to ES5"
Some older browsers and tools do not support ES6. Also it is not currenty supported by create-react-app, which I think will be the main problem for most of us.
Is there a chance to precompile the package before publishing?
Thanks!

[2018-01-11 05:24] leopaglia commented on #21
Never mind, I have actually checked it and it is compiled and set as entry point.
However, importing the module directly as `import Flickity from 'react-flickity-component` gets the actual ES6 code (at least in a non-ejected create-react-app context).
As a workaround without using `require`, `import Flickity from 'react-flickity-component/lib'` does the job.

[2018-01-11 05:24] #21 closed

[2018-01-13 10:15] 92arpitgoyal commented on #14
@theolampert I can also help you test this, are you working on this?

[2018-01-13 10:54] theolampert commented on #16
Hey @ryanwiemer I have seen this and as of React 16 this would definitely be the way to go. I just haven't had a heap of time to look into this recently but imagine following the example codepen here would be an excellent starting point for a proof of concept: https://codepen.io/smartmike/pen/dZBNVv. Would you or anyone else be willing to submit a WIP PR?

[2018-01-13 10:55] theolampert commented on #14
@92arpitgoyal @Ismael I'm hoping #16 will solve this and a few other issues.

[2018-02-04 20:07] dicktornfeldt commented on #20
Same problem here

[2018-02-17 10:17] amerllica commented on #5
`Flickity` is awesome for `jQuery` or `VanillaJS`  projects, As I use it in my [`DIGIKALA MAG`](https://mag.digikala.com) project, But it is not very useful for `React` project. I unstar this repo and migrate to [`react-slick`](https://github.com/akiran/react-slick).

This awesome repo just kill my time.

[2018-03-06 20:05] yaodingyd commented on #17
@adrian2x  with release 2.0.0 you can refer to README as how to use events and API.

[2018-03-06 20:59] yaodingyd commented on #14
@Kinark `2.0.0` release fixes your problem. See [demo](https://codesandbox.io/s/rvpzyro14)

[2018-03-06 21:00] yaodingyd commented on #16
@theolampert This can be closed now.

[2018-03-07 03:49] #16 closed

[2018-03-07 03:50] #14 closed

[2018-03-07 03:50] #17 closed

[2018-03-07 16:32] yaodingyd commented on #20
@bhushanscholastic react-boilerplate's webpack setting looks for `jsnext:main` over `main` as entry point. (IMO, this doesn't make sense: why using ES6 module and then UglifyJS). Anyway, if you want to fix your build, remove 'jsnext:main' in your `node_module/react-flickity-component/package.json`.

If you plan to use latest `2.0.0`, then you cannot use it with react-boilerplate as it only support

[2018-03-07 16:32] #20 closed

[2018-03-09 17:42] andreicek opened #23 "Licensing issues"
Hi,

from what I see you're packaging whole Flickity with the wrapper and according to their license this falls under [Commercial OEM License](https://flickity.metafizzy.co/license.html#prohibited-uses). You should probably define Flickity as a peer dependency and require users to attach it to the `window` object until Flickity team fixes the issue with requiring the library.

[2018-03-09 18:09] yaodingyd commented on #23
Thanks for your concern! Commercial OEM License needs to be "Commercial" first, however this is a open source project. We'll update this project to use GPLv3.

[2018-03-09 18:21] andreicek commented on #23
Good catch! Did not think of this!

On Fri, Mar 9, 2018, 19:09 Yao Ding <notifications@github.com> wrote:

[2018-03-14 11:59] podenphant opened #25 "Failed to minify the code ... react-flickity-component/src/index.js:8"
When invoking 'yarn run build' this error occurs

"Failed to minify the code from this file:

        ./node_modules/react-flickity-component/src/index.js:8
"

[2018-03-14 13:09] yaodingyd commented on #25
what kind of minifier you are using? do you have a repo of your configurations?

[2018-03-22 20:25] zengoma commented on #25
I'm having the same issue. I used react-create-app to initialize the project and installed flickity using npm. Perhaps this might help (apparently code has to be compiled to ES5 before publishing to npm):
[http://bit.ly/2tRViJ9](http://bit.ly/2tRViJ9)
Hoping that we can solve this without ejecting.

[2018-03-22 21:12] yaodingyd commented on #25
@zengoma can you show me the way you import `react-flickity-component`?

[2018-03-23 04:25] zengoma commented on #25
@yaodingyd Thank you for the quick response. That certainly did work, the production build runs without any issues now. You're a star!

[2018-03-23 11:35] #25 closed

[2018-03-29 01:07] wanbinkimoon commented on #20
Hi same issue here but i think my problem is compiling `d3` – I first tried version 5 then downgrade to 4  – in `react boilerplate` .
The error is in `Unexpected token: name (CancelError)` but no `CancelError` has a `'jsnext:main'` prop.

[2018-04-18 10:33] craig95 opened #28 "Following a <Link /> results in DOMException: Failed to execute 'removeChild' on 'Node'"
If we follow a `<Link />` from [React Router](https://knowbody.github.io/react-router-docs/api/Link.html) the view to which the app is routed is not rendered. The HTML body is empty.

The full error message is:
[code]

[2018-04-18 11:30] yaodingyd commented on #28
Could you provide a sandbox link?

[2018-04-19 09:10] craig95 commented on #28
I made a [sandbox](https://codesandbox.io/s/0ppj3r5k30). I cannot replicate the error because I am getting another error.

[2018-04-19 15:02] danielmahon commented on #4
For anyone that needs, I was able to get SSR working with something like the following (Gatsby example):
[code]

[2018-04-19 16:03] danielmahon commented on #28
@craig95 @yaodingyd See my fix in #29

[2018-04-20 12:53] #28 closed

[2018-05-17 13:15] greenkeeper[bot] opened #31 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="https://github.com/theolampert/react-flickity-component/compare/master...theolampert:greenkee

[2018-05-28 21:25] ooloth opened #33 "How to implement equal cell height hack?"
Thanks for creating this component!

I'm trying to implement desandro's equal cell height hack, [explained here](https://github.com/metafizzy/flickity/issues/534#issuecomment-328859144) and [shown here](https://codepen.io/desandro/pen/ZXEGVq).

Here is the hack:

[code]

I'm having trouble adapting this code to work with `react-flickity-component`. My attempt (shown below) is partially working, bu

[2018-05-29 13:14] ooloth commented on #33
I managed to solve this! I just needed to point the resize call at `this.flkty` instead of `this`:

[code]

This seems to make the equal height cells hack work with `react-flickity-component`.

If anyone knows how this could be implemented in a better way, please let me know!

[2018-05-29 13:14] #33 closed

[2018-06-01 15:30] csantos1113 opened #34 "Flickity initialIndex prop not working"
Since the `2.0.0` version of this component, the `initialIndex` property is not working:
[code]

See the live example: https://codesandbox.io/s/lljo6rkx2q

[2018-06-01 15:34] csantos1113 opened #35 "Component not longer dragabble"
Since the `3.0.0` version of this component, the component is **not longer draggable**.
[code]

See the live example: https://codesandbox.io/s/p7m7w45yl7

[2018-06-01 17:08] csantos1113 opened #36 "Safari - Render carousel dynamically"
I'm trying to render this carousel component on Small viewports, and a plain list in other viewports.
I'm using `window.matchMedia` to render one or the other component

[code]

in **Safari** only - The second list is not able to change to the carousel, without any errors anywhere.

See this live example: https://codesandbox.io/s/5409mo1qkx

[2018-06-02 21:19] yaodingyd commented on #34
Thanks for reporting this bug. I'm working on a fix.

[2018-06-02 21:19] yaodingyd commented on #35
Thanks for reporting this bug. I'm working on a fix.

[2018-06-05 09:03] repositoryofexcellence opened #38 "using with flickity-fullscreen pack?"
Is it possible to use this component with flickity-fullscreen pack?

[2018-06-06 20:09] yaodingyd commented on #36
It doesn't looks like a bug with react-flickity-component, more like Safari is doing weird stuff. I never get `Fired? true` in my console log.

[2018-06-07 06:32] #34 closed

[2018-06-07 06:47] theolampert commented on #38
@repositoryofexcellence yes it's possible.

First you need to install the package:
`npm install flickity-fullscreen`

Then load the css file however you like, for example:
`<link rel="stylesheet" href="https://unpkg.com/flickity-fullscreen@1/fullscreen.css">`

Then enable it in your component, for example:
[code]

You still need to style this however, which is covered in the docs here: https://fli

[2018-06-07 06:47] #38 closed

[2018-06-07 06:47] theolampert commented on #35
@yaodingyd @csantos1113 ok to close this one?

[2018-06-07 12:47] yaodingyd commented on #35
@theolampert  I'm good

[2018-06-12 15:06] #35 closed

[2018-06-20 01:03] csantos1113 commented on #36
That's the thing, something is happening behind scenes in the `Flickity` library that is crashing the matchMedia listeners chain to be called. And only on Safari.
This is the strangest error that I have seen.

You can get `Fired? true` if you run the example in any other browser different than Safari.

btw, just for testing, you can change `carousel: matches ? flickityOptions : false` ===> `carous

[2018-07-19 19:41] tomzmtl opened #41 "Failed to execute 'removeChild' on 'Node'"
Hi, I just setup a PoC using this library and all went OK following the setup guide, the carousel works perfectly and the implementation was really easy.

I''m however getting an error when transitioning back-and-forth between the view where the carousel lives and other ones:

[code]

I am using a mix of angularJS + uiRouter and React right now, but I'm not sure it has to do with the stack itself.

[2018-07-20 17:10] yaodingyd commented on #41
Can you share your component?

[2018-08-02 11:42] JPStrydom commented on #41
I'm experiencing the same issue intermittently. I'm have the following relevant dependencies:

[code]

my render method looks as follows:

[code]

I've tried setting `reloadOnUpdate` to true, but it didn't help.

Any advice?

[2018-08-02 11:44] GChin12 commented on #41
Same issue.

[2018-08-02 13:20] yaodingyd commented on #41
@JPStrydom @GChin12 Could you provide a reduced test case in code sandbox? I feel like your issue has something to do routing, but I cannot reproduce this. You can modify this one [link](https://codesandbox.io/s/l42xpyry7q) to suit your case.

[2018-08-02 20:10] JPStrydom commented on #41
@yaodingyd Why do you suspect it's a routing issue? When I remove the Flickity component, the issue disappears completely.

If I have some time I'll try to reproduce the issue in the sandbox.

[2018-08-02 20:27] yaodingyd commented on #41
@JPStrydom  I'm saying it could be the conditional rendering resulted from routing. Again, I'm just speculating. A reduced test case would really be helpful.

[2018-08-02 20:34] JPStrydom commented on #41
Cool, I'll have a look in the morning. But say it is the routing, how would we approach the issue?

[2018-08-09 14:08] nicolasmn commented on #41
It's not. We are currently facing the same problem with a pretty bare-bones implementation (no dependencies beside `react`, `react-dom` and `react-flickity-component`.

It seems like it has something to do with the `optimization.runtimeChunk` option in Webpack 4, setting it to `false` makes the error disappear.

[2018-08-25 11:46] alexkyse1 commented on #41
Same here, any solutions?

[2018-08-25 17:41] JPStrydom commented on #41
I ended up using Nuka Carousel - it's not as flexible, but it does the job.

[2018-08-26 08:52] alexkyse1 commented on #41
Thanks for providing an alternative, even better with MIT license!

Have a great day!

[2018-09-11 06:25] greenkeeper[bot] opened #44 "An in-range update of babel-plugin-add-module-exports is breaking the build 🚨"
## Version **0.3.3** of **babel-plugin-add-module-exports** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/theolampert/react-flickity-component/compare/master...theolampert:greenkeeper%2Fbabel-plugin-add-module-exports-0.3.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td

[2018-09-11 18:56] yaodingyd commented on #41
This thread has no useful information for actual debugging work of said error. Closing for now.

[2018-09-11 18:56] #41 closed

[2018-09-14 02:14] greenkeeper[bot] opened #46 "An in-range update of react is breaking the build 🚨"
## There have been updates to the *react* monorepoundefined

🚨 [View failing branch](https://github.com/theolampert/react-flickity-component/compare/master...theolampert:greenkeeper%2Fmonorepo.react-16.5.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

This monorepo update includes releases of one or more dependencies w

[2018-09-19 17:05] greenkeeper[bot] opened #48 "An in-range update of prettier is breaking the build 🚨"
## The devDependency [prettier](https://github.com/prettier/prettier) was updated from `1.14.2` to `1.14.3`.

🚨 [View failing branch](https://github.com/theolampert/react-flickity-component/compare/master...theolampert:greenkeeper%2Fprettier-1.14.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

prettier is a devDependen

[2018-09-22 09:52] alexkyse1 commented on #41
When component needs to re-render, this happens.

[2018-09-25 17:00] yaodingyd commented on #41
Issue is tracked at https://github.com/theolampert/react-flickity-component/pull/49

[2018-10-01 16:49] yaodingyd commented on #41
Issue should be fixed with release of 3.1.0

[2018-10-01 18:56] alexkyse1 commented on #41
Thank you very much @yaodingyd !

[2018-11-09 22:32] intelligence opened #51 "Height not being applied"
First and foremost, thanks for your work on this, very much appreciated!

I'm pretty new to react, have used flickity a bunch before, but with this react component I'm not getting proper height on my carousel. If I resize it will recalculate and apply correct height. Not sure if I've configured it wrongly or if it's an issue with the component. Any ideas?

[code]

[2018-12-10 20:02] jack-sf commented on #23
But then, this library can't be used in a project, which is not GPL, but paid for Flickity commercial support, am I right?

We'd like to use it, but our project is closed source, so we can't use a library with GPL license.

[2018-12-10 21:02] yaodingyd commented on #23
If you get commercial license from the original Flickity project, you are free to use this project in your closed source.

[2018-12-11 21:50] sjelfull opened #52 "Type definition"
Hey, appreciate this! Makes it very simple to pull in Flickity.

Are you able to add a type definition to this? Flickity [does have one already](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/flickity) - not sure if that makes it any easier.

[2018-12-19 12:59] theolampert commented on #52
hey @sjelfull sounds like a good idea 👍 . Would you feel like creating a PR? otherwise I can take a look at this a bit later.

[2019-01-03 15:45] theolampert commented on #52
This was added via #54, I'll test today and release a new version.

[2019-01-25 13:44] yaodingyd commented on #51
Can you create a reduced testcase in codesandbox?

[2019-01-25 18:14] NathanGostelow commented on #51
i fixed the issue by passing a function through  as a prop which sets State on size and passed size through to the parent component as an inline style i call the function with the ref to flickity which has the correct size (although the parent component isnt the right size initially) and call the function on mount.

this works perfectly since the issue is in first render when resize isnt being cal

[2019-01-31 22:40] theolampert commented on #52
@tizzle latest (3.2.0) was just published to npm

[2019-02-02 17:14] #52 closed

[2019-02-02 17:47] #48 closed

[2019-02-02 17:48] #46 closed

[2019-02-02 17:48] #44 closed

[2019-02-02 17:53] #31 closed

[2019-02-10 18:05] fivetwelve opened #59 "May not work with an SSR framework"
Just a heads-up for anyone who may be trying to use this in a SSR-framework that it may fail.

I was trying to use this component to integrate Flickity in my Gatsby build. While it works when I do a local develop instance, it fails on a local build as well as on my CI.

Gatsby returns:
[code]

In my case, there's an issue thread over at Gatsby that indicates that an import's SSR-compatibility coul

[2019-02-10 21:15] fivetwelve commented on #59
I'm closing this as I think the underlying cause is with Flickity itself that uses a window reference. Flickity, as of this writing, cannot be isomorphically deployed.

[2019-02-10 21:15] #59 closed

[2019-02-12 15:39] dokko opened #60 "chrome sourcemap warning"
This is not a big deal but after i use this component, in chrome i can see this warning

DevTools failed to parse SourceMap: js/index.js.map

and i dont have index.js in my source..
I know i can turn off Enable Javascript source map in chrome setting but..
can fix this?

[2019-02-14 14:29] Alexius08 opened #61 "Issues with updating Flickity's options during runtime"
Changing Flickity's options during runtime doesn't seem to trigger a rerender. The options are controlled by variables from state, yet updating them doesn't seem to have an effect.  Updating props connected to this.state doesn't work. This.forceUpdate() doesn't work either. What worked, though, is making the component appear or disappear by toggling a boolean variable. Is there a better approach t

[2019-02-18 11:45] Alexius08 commented on #61
Turns out that giving the flickity component a key that changes every time an option changes would do the same.

[2019-02-18 11:45] #61 closed

[2019-03-12 10:40] gfrcsd opened #62 "flkty.resize is not a function"
Hi!

I am using the component inside of a modal, everything is working, arrows and dots are here but all the images are stacked on top of each other. If I resize the window it fixes itself. Following the API on flickity's website, I read that I need to use `resize()` when I reveal the slider

### Function run onClick
[code]
### Options
[code]
### Slider
[code]

I get `flkty.resize is not a functio

[2019-03-12 12:53] yaodingyd commented on #62
If you want to access Flickity instance, there is the guide: https://github.com/theolampert/react-flickity-component#use-flickitys-api-and-events

[2019-03-12 13:26] CptCompiler commented on #51
Hey @NathanGostelow
could you provide a codesandbox?
I don't really understand how you solved this...

[2019-03-12 14:54] gfrcsd commented on #62
I think it's due to my limited knowledge of the different syntax in use in React, but I can't seem to see a similar structure in my component and I am struggling to implement the example in the link above

[code]

[2019-03-21 06:02] humbertqz commented on #4
I'm using this in the import and works:

`const isBrowser = typeof window !== 'undefined';
const Flickity = isBrowser ? require('react-flickity-component') : 'div';`

[2019-04-24 20:36] devndive commented on #62
What you can do, is to dispatch a resize event when opening / showing your modal dialog.

[code]
Source - https://stackoverflow.com/a/1818513

You have to test this solution with the browsers you are using. In the linked post there is another solution for IE if you need that.

[2019-04-25 16:16] kierangillen commented on #4
[code]
Use this above your component.

[2019-05-10 15:24] yaodingyd commented on #62
Again, you need to use `ref` to use flickity APIs.

[code]

Then you can use `this.flkty` to call APIs. Check [https://reactjs.org/docs/refs-and-the-dom.html](https://reactjs.org/docs/refs-and-the-dom.html) to learn about refs.

[2019-05-10 15:24] #62 closed

[2019-05-10 15:25] yaodingyd commented on #51
Close for lack of response.
If demo box provided with reduced test, issue will reopen.

[2019-05-10 15:25] #51 closed

[2019-05-10 15:28] yaodingyd commented on #60
I'm not even sure what index.js is this. This is not relevant to this library at all. Is it possible it's your application entry file when your bundling tool created? If so you should ask question in webpack/rollup/parcel.

[2019-05-15 17:39] vangn opened #67 "Re create flickity component"
Hi, your implementation of flickity is awesome, but I would like to know how to rebuild the slider after destroying it?
I understand that through flickityRef, but I have not succeeded in instantiating the slider again.

Any idea?

[2019-05-15 18:55] yaodingyd commented on #67
set `reloadOnUpdate` prop to true and force a rerender.

[2019-05-16 08:48] kierangillen commented on #23
@yaodingyd @theolampert We really wanted to use this wrapper in our MIT licensed project and we have the commercial Flickity license. However the React Flickity Component explicitly declares GPL3 in the `package.json` https://github.com/theolampert/react-flickity-component/blob/master/package.json#L12 and otherwise only touches on the license in the Readme and in this issue. We are not lawyers but

[2019-05-16 11:12] theolampert commented on #23
@kierangillen I'm also not a lawyer and the licensing issue is a bit murky to me. As you said perhaps @desandro could give us a pointer here.

[2019-05-17 02:19] desandro commented on #23
In short, as the owner of  Flickity commercial license, you are okay to use both Flickity and this dependency in both your open and closed source projects.

From a high level, my aim is to allow wide usage of Flickity, but provide some rationale for purchasing a commercial license so I can support development. "Commercial" is in reference to people paying for it, not so much the work they use Flic

[2019-05-17 12:58] yaodingyd commented on #23
Thanks Dave!So the licensing info for this project is accurate. @kierangillen as long as you have commercial license from Flickity, you can use this project in any projects.

[2019-05-17 12:58] #23 closed

[2019-05-17 13:44] alloy commented on #23
@yaodingyd @desandro I really understand the spirit and sympathise with trying to be pragmatic, but alas that's not something we can do with legalese 😞. As it stands, this package (`react-flickity-component`) [states it is licensed under GPLv3](https://github.com/theolampert/react-flickity-component/blob/68feb82d5875e6891a93e5041527a931ed518dd7/package.json#L12) and then in a few _other_ locations

[2019-05-17 19:51] Profesor08 opened #68 "Wrong type definition of flickityRef"
In index.d.ts type of flickityRef is HTMLDivElement. It is wrong. It makes troubles on binding events or something else, using refference.
[code]
`Property 'on' does not exist on type 'HTMLDivElement'.`

[2019-06-06 10:50] kYem opened #70 "state update on an unmounted component"
The usual

Strack trace
[code]
setFlickityToReady needs to make sure component is still mounted

[2019-07-02 18:46] rafaelcorreiapoli commented on #70
Im also having this issue

[2019-07-07 04:40] ebrahimiaval opened #72 "This doesn't look right. Besides we already have the check in `componentDidMount` lifecycle."
This doesn't look right. Besides we already have the check in `componentDidMount` lifecycle.

_Originally posted by @yaodingyd in https://github.com/theolampert/react-flickity-component/pull/71#issuecomment-508969085_

NO, This is right. in SSR  `componentDidMount`  do not effect JUST 'constructor' and 'render' work.

you must ignore import window dependency plugins  to fix 'window undefined' erro

[2019-07-09 16:53] yaodingyd commented on #72
You can comment on the original PR.

[2019-07-09 16:53] #72 closed

[2019-07-09 16:53] yaodingyd commented on #60
@dokko

[2019-07-09 16:55] yaodingyd commented on #70
Can you create a reduced test case in codesandbox?

[2019-07-29 07:41] DonGissel commented on #68
This gets very annoying when using the module in TypeScript. Please change the reference type to `Flickity` instead. 😄

[2019-08-07 01:03] fandy commented on #68
👍

[2019-08-08 15:30] theolampert commented on #68
@DonGissel thanks for the catch, will update and make a release this week.

[2019-08-08 18:18] theolampert commented on #68
@DonGissel @Profesor08 Can one of you two please verify if #74 fixes the issue for you?

[2019-08-08 18:19] theolampert commented on #60
@yaodingyd I think he's talking about the build sourcemap thats checked into the `lib` folder

[2019-08-08 18:37] yaodingyd commented on #60
@theolampert thanks! That makes more sense. @dokko if you can provide your build config I can help take a look.

[2019-08-09 07:43] #68 closed

[2019-08-09 07:52] DonGissel commented on #68
I'm currently trying to debug the thing, but unfortunately, TypeScript insights aren't too happy. Since the returned scope is basically just a reference to the "local" `Flickity` (in this case the React-wrapper), as opposed to the one actually describing the Flickity module, the methods available on Flickity still aren't exposed correctly.

Sadly my knowledge of TS isn't such that I can figure out

[2019-08-09 07:54] theolampert commented on #68
@DonGissel Thanks for the feedback, I probably jumped the gun a bit pushing it into the last release. I'll need to test it properly and take another look.

[2019-08-17 13:57] niklasp opened #75 "Flickity on Firefox not working"
On Firefox 68.0.2 Flickity is only loading images after the browser window is resized. Tested locally and in the official sandbox https://codesandbox.io/s/qlz12m4oj6. Can anyone confirm? How would I manually trigger a resize Event once the images or the slider is loaded?

![Kapture 2019-08-17 at 16 03 42](https://user-images.githubusercontent.com/1685139/63212694-a42fb580-c108-11e9-88ef-c42367dfee

[2019-09-03 16:07] jbsmith731 commented on #75
For what it's worth I use a psuedo element with padding bottom. Then absolute position the picture inside of it. https://css-tricks.com/aspect-ratio-boxes/

[2019-09-03 16:14] jbsmith731 opened #77 "Broken link to SSR example in Example section"
https://github.com/theolampert/react-flickity-component#example-usage

**Broken Link:** https://github.com/artsy/reaction/blob/master/src/Components/v2/CarouselV3.tsx#L160-L171

[2019-09-14 08:00] niklasp commented on #75
i dont know the aspect ratio before. all images are different. is there no other solution?

[2019-09-14 19:04] #67 closed

[2019-09-16 02:40] yaodingyd commented on #75
Verified. investigating...

[2019-09-16 03:02] yaodingyd commented on #75
For the time being you can use `static` to wait for image loaded to resize your carousel

[2019-09-16 08:19] niklasp commented on #75
`static` prop also not working for me.

[2019-09-20 09:15] theolampert commented on #77
@jbsmith731 thanks for the catch, I've updated the examples in #81

[2019-09-20 13:34] #77 closed

[2019-10-23 15:52] matthewlein opened #83 "imagesloaded needed on updates as well"
If you render a carousel, then replace children with new images, imagesloaded is not used, so new carousel will be sized incorrectly

In componentDidUpdate, I added an imagesLoaded to make sure the carousel sizes are recalculated with `reloadCells`. There are probably some optimizations to not run it on every update, but that's the gist of it. Maybe it should only run on children changes.

https:/

[2019-10-25 11:04] theolampert commented on #75
@niklasp please check the latest version (3.4.0), I believe @yaodingyd has fixed this.

[2019-10-27 15:31] niklasp commented on #33
Can you show your full code? where is this.flkty defined?

[2019-10-30 11:59] #75 closed

[2019-11-06 14:03] zurmoehle commented on #83
This helped also with my problem. Please add this in the component. Is there a global fix without change the node_module itself?

[2019-11-06 15:20] matthewlein commented on #83
In my case, I copied over the component to make more changes—typescript, only resetting selected index on child key changes, and this imagesLoaded on update. I'd recommend that since it's a single component.

Issuing a PR with that change is no problem, but I'm not in the habit of doing that without maintainer buy-in since they will likely be the ones supporting any changes.

[2019-11-06 20:49] guille-alibrate commented on #70
It's still happening. You can check it using your own demo:

See:
https://codesandbox.io/s/qlz12m4oj6

Just change the library version from **3.2.0** to **3.4.0**. And check the (chrome) console.

https://codesandbox.io/s/react-flickity-94qi9

Apparently, it's working with 3.3.2, so I'll stick to it.

[2019-11-07 17:28] guille-alibrate opened #85 "How to perform an onChange event"
I'm trying to get the current index of the slides. So, my first attempt is using something like "onChange". But I see it's not supported in the Props interface:

[code]

I tried passing the event an an option, with no luck:

[code]

Any clue?

[2019-11-07 17:53] guille-alibrate commented on #85
Sorry, it's in the docs. I mean, I can get a _ref_ and then get the index.
https://github.com/theolampert/react-flickity-component#use-flickitys-api-and-events

Doc shows how to do it with class component. For functional, this works:

[code]

Then you call it like:

[code]

[2019-11-08 03:17] yaodingyd commented on #85
Can I close the issue since you have figured it out?

[2019-11-08 13:02] guille-alibrate commented on #85
Sure. Let's close it.

[2019-11-08 13:02] #85 closed

[2019-11-08 14:14] yaodingyd commented on #83
Can you do a PR? It makes sense to me

[2019-11-16 13:21] mlbonniec opened #86 "Cannot update during an existing state transition"
Hello, small problem with version `3.4.0` of the package. It doesn't seem to impact the rendering, but the error is still present. I didn't find out where this error came from.

---
![Capture d’écran 2019-11-16 à 14 19 49](https://user-images.githubusercontent.com/29955402/68993792-323c4900-087c-11ea-8adc-2648f1fdcf03.png)

[2019-11-19 15:18] matthewlein commented on #83
PR is open now.

[2019-11-22 19:27] guille-alibrate opened #88 "Items fixed width not being respected"
It all works fine in developer mode. But as soon as we build the project, flickity starts to misbehave. See the capture:

![image](https://user-images.githubusercontent.com/56847061/69454299-a4150680-0d44-11ea-93e4-69a0269aec5f.png)

So, images overlaps. Sometimes there are blank spaces. In resume, the items fixed width is not being respected.

Any clue about why?

We are using nextJs, btw.

[2019-11-22 19:28] guille-alibrate commented on #88
This is the expected behavior. This is how it looks in dev mode.

![image](https://user-images.githubusercontent.com/56847061/69454493-138af600-0d45-11ea-8712-ed57240a9092.png)

[2019-11-22 19:30] guille-alibrate commented on #88
Oh, one important thing. It's not about images. If we replace the images with a base64 placeholder it still fails. Also, removing the image ad leaving only text has the same effect. So, no clue on what's going on.

Is there other way to set a fixed width, apart from css? Clearly the math is failing here.

[2019-12-03 21:32] pooeske887 commented on #33
must been redhat whe need to do somethings somehow!

[2019-12-04 08:46] pooeske887 commented on #33
@pooeske887

[2019-12-18 10:27] 0sserc opened #89 "Fullscreen not working"
This might not be related to this library, but as the flickity-fullscreen package hasn't been updated for a year, just decided to post here.

We are using flickity in one of our projects, and added the package for fullscreen [flickity-fullscreen](https://github.com/metafizzy/flickity-fullscreen), it had been working for a while, but like a month ago it suddenly stopped working, and when we call
`t

[2019-12-19 19:24] bhtru commented on #86
I don't know if it's applicable in your use case but setting the `static` prop to `true` removed the error for me.  My carousel contents will be static so it's not issue for me if I can't update the contents on the fly.

On the repo homepage it's mentioned that if you need to update your carousel you can use `reloadOnUpdate`.  That workaround could be worth your time if you absolutely need to remo

[2019-12-21 20:45] mlbonniec commented on #86
Indeed your solution works, but unfortunately my carousel is dynamic. So I don't know how to fix it.

[2019-12-23 18:19] yaodingyd commented on #88
Are you sure the width is incorrect? It looks images are in correct width but their position is wrong. As flickity calculates image positions dynamically, it is possible that the calculation happens at the wrong time.

Can you create a minimal sandbox to reproduce your issue? A demo repo will be perfect.

[2019-12-23 18:23] yaodingyd commented on #89
The last release happened two months ago so I doubt it was our issue. Nevertheless  if you could provide a minimal sandbox to reproduce your issue I'm happy to help you debug.

[2020-01-03 12:10] MantasMikal commented on #86
Any news on this?

[2020-01-03 14:15] yaodingyd commented on #86
#91 is aimed to fix this

[2020-01-13 02:36] TrejoCode commented on #86
Thank you @yaodingyd i will stay waiting for this, because i have the same "error".

[2020-01-14 06:30] amosguata opened #93 "flickity carusel no control over margin between images in carusel"
opened this issue on stackoverflow:
https://stackoverflow.com/questions/59724659/flickity-carusel-no-control-over-margin-between-images-in-carusel

the problem is i have no control over the the spcae between images in the carusel when resizing the browser window:  [https://codesandbox.io/s/flickity-changin-margin-example-s5gws](url)

even after adding margin right to each carusel-cel [https://code

[2020-01-24 07:32] chethanbr25 opened #94 "React-Flickity -Component not setting common height across carousels and destroy not working on desktop"
I am using React-Flickity component and in mobile it works fine and in desktop it doesn't work and destroy not triggering
And one more isssue is not able to set the maximum height of a cell across all other cells

import React, { Fragment, Component } from "react"
import classNames from "classnames"
import PropTypes from "prop-types"
import Flickity from 'react-flickity-component'

//import Generi

[2020-01-27 06:01] Shivam2498 opened #95 "Uncaught (in promise) DOMException: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node."
Uncaught (in promise) DOMException: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.

Getting this issue when component is getting reloaded

[2020-01-27 09:02] #95 closed

[2020-01-29 15:44] kush-agra opened #96 "flickity not found in lib error"
version 3.5.0 produces a webpack error and simply switching to an older version fixes it

[2020-02-02 02:14] rockmanvnx6 commented on #86
Using `static` and/or `reloadOnUpdate` doesnt work for me. This is how I render it:

[code]

[2020-02-02 03:21] yaodingyd commented on #86
`3.5.0` is published with the fix. Did you try it out? @rockmanvnx6

[2020-02-02 03:23] rockmanvnx6 commented on #86
I'm using `3.4.0` due to #96

[2020-02-02 03:24] yaodingyd commented on #96
You need to install your own version of flickity because flickity is a peer dependency now.

[2020-02-02 03:26] yaodingyd commented on #86
Use the latest version and install your own flickity.

[2020-02-12 11:05] howells opened #97 "Focus flickity on mount"
Wonder if you could help me out with something - I need to focus flickity on mount (so keyboard nav can be use right away) as per https://codepen.io/desandro/pen/JoemRR but I'm struggling.

[code]

On page load, `document.activeElement` is the `body` element.

Any ideas where I'm going wrong?

[2020-02-13 03:56] yaodingyd commented on #86
@rockmanvnx6 is your issue fixed?

[2020-02-13 04:14] rockmanvnx6 commented on #86
@yaodingyd sorry was not receiving any notifications on this topic for some reasons, thanks for reminding, will try it out tonight.

[2020-02-13 22:37] howells commented on #70
Has anyone been able to fix this?

[2020-02-14 03:35] yaodingyd commented on #70
Have you try the latest version? you need to install flickty as peer dependency

[2020-02-15 15:54] nullhook commented on #70
This happened to me when I didn't cleanup a listener after unmount. The fix is to unbind any events you're registering on unmount.

[code]

[2020-02-15 16:02] nullhook commented on #97
Are you using NextJS?

[2020-02-16 12:30] howells commented on #70
@nullhook ah! I didn't consider that because I was using the `on` attribute as part of Flickity options, so I've reconfigured it and I don't _seem_ to be getting the error anymore. Thank you.

[2020-02-16 12:31] howells commented on #97
@nullhook yes... what do you reckon is up? SSR issue?

[2020-02-16 13:05] nullhook commented on #97
It should work if you remove the `static` prop from the `Flickty` component.

When you add `static` prop, it renders the children inside Portal and strangely the focus doesn't work.

P.S - If you want to keep the `static` prop, delay the focus, it should work. However, I feel adding a `setTimeout` feels hacky.

[2020-02-16 15:24] howells commented on #97
@nullhook strange one - I had already removed `static` but it made no difference, but now I've added in a setTimeout it works: hacky but I can't get it to work any other way. Thanks for the suggestion.

[2020-02-16 15:34] nullhook commented on #97
Do you have `reloadOnUpdate` prop as true?

[2020-02-16 15:36] howells commented on #97
No, these are my props:

[code]

and `flickityOptions`:

[code]

[2020-02-16 15:41] nullhook commented on #97
Try removing the disableImagesLoaded prop and see if it works.

Are you using that prop for something?

[2020-02-16 15:57] nullhook commented on #97
Nvm, removing 'static' prop raises other issues such as routing to dynamic pages in NextJS.

[2020-02-27 22:33] frazerf commented on #4
Hey @kierangillen , I've just stumbled across your answer. I've got the same problem re. window error. Are you adding this directly below the imports? And are you excluding ```import Flickity from 'react-flickity-component'```

Thanks

[2020-03-18 10:35] khanbaba opened #98 "RTL support"
Hi,
thanks for this good library.
I need RTL support. Does it support ?

[2020-03-26 12:35] anadutova opened #100 "cellSelector options breaks React on unmounting"
Below an example of the bug. Toggle the appearance of Flickity using the button. You should see an error in the sandbox browser window and console.

https://codesandbox.io/s/react-flickity-4zu6l

Dependencies:
[code]

I believe the issue is the following:

With the `cellSelector` option, Flickity changes the DOM outside React. It moves all the non-cell nodes outside of the carousel.

This DOM muta

[2020-03-27 13:13] ouzy opened #101 "Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node."
`render() {
        const flickityOptions = {
            initialIndex: 0,
            autoPlay: 10000,
            prevNextButtons: false,
            adaptiveHeight: false,
            wrapAround: true
        }

        return (
            <div className={this.props.cssClasses}>
                {
                    this.props.blockData.messages.length ?
                        <Flickity

[2020-04-12 08:31] titch-ane opened #102 "Update dependencies fbjs@1.0.0 -> core-js@2.6.11"
[code]

as you can see, fbjs 1.0.0 (Sep 18, 2018) related to core-js 2, but fbjs v2.0.0 (Sep 23, 2019) released. maybe it's time to update the dependencies?

[2020-04-17 13:59] HectorLS opened #103 "react-flickity-component cause a memory leak"
Hello, i am using `"react-flickity-component": "^3.5.0",`
and when i initialize the library i get this warning:
⚠️
`Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in the componentWillUnmount method.`

[2020-04-19 16:15] TheKingDave commented on #98
Yes Flickity does support RTL

Example:
[code]

You can find further options on the official site of Flickity. https://flickity.metafizzy.co/options.html#righttoleft

[2020-04-19 16:28] TheKingDave commented on #101
Since you are updating your content you should remove the `static` prop. `static` prevents you from changing the content in the future but improves server side rendering.

You could also add the `reloadOnUpdate` prop but this will re render Flickity completely. This may lead to flickering.

[2020-04-19 17:35] khanbaba commented on #98
Thanks. That's it.

[2020-04-19 17:35] #98 closed

[2020-04-21 08:25] HectorLS commented on #103
# #70

[2020-04-21 08:25] #103 closed

[2020-05-07 21:42] wcauchois opened #104 "Carousel resets to first page after adding an item"
If I add an item to the set of children in my flickity carousel (using this library), and the user has scrolled to a later item, then the carousel resets to the first item (item 0).

Is there any workaround to ensure that the carousel remains on the cell that the user has selected, while adding new items?

Thanks!

[2020-05-14 18:22] quadlayers opened #105 "can't remove arrows on settings update"
Hello mate
thanks for this wonderfull component
i'm facing an issue when i try to update the component options to show/hide the dots
the component is triggerin the componentDidUpdate but the dots are always visible

`import` classnames from "classnames";
import Flickity from "./react-flickity-component"
import SliderContainer from './slider-container';
import { Component, createRef } from '@wordpr

[2020-05-18 08:43] podenphant commented on #52
Hey,
I could be missing something but the type def doesnt seem to exist?

https://registry.yarnpkg.com/@types%2freact-flickity-component: Not found".

[2020-06-26 03:17] MitchEff opened #106 "wrapAround - First slide always disappears"
As soon as the page loads, my left slide is there for half a second, and then disappears. If I change slides, resize my browser etc it comes back, but there's nothing I can do to prevent it from occurring.

<img width="1906" alt="Screen Shot 2020-06-26 at 1 13 17 pm" src="https://user-images.githubusercontent.com/34614502/85816582-17856780-b7af-11ea-80ba-687b95075ee5.png">

Supposed to be this:
<i

[2020-06-28 16:38] KZTN opened #107 "Module not found: Can't resolve 'flickity'"
I recently start to use this dependency in my projects. When I tried to import to my page using ES2015 it's showing that  the module can't be found.

[code]
But this file Can be found navigating by the node_modules
![Screenshot from 2020-06-28 13-30-41](https://user-images.githubusercontent.com/6463299/85953068-45e87b80-b944-11ea-9d9d-d8e8e1ac3c03.png)

My attempts to solve this problem:
Removed a

[2020-06-28 22:31] lil-j commented on #106
This has been happening to me as well.

[2020-06-28 23:45] zd4y commented on #107
I am having the same problem on a newly created project using `npx create-react-app .` and installing it with `npm i react-flickity-component`. I am using the same version of react and react-flickity-component but npm 6.14.5 and node 14.3.0 on manjaro. I can also find the folder navigating by the node_modules and I am importing it using `import Flickity from 'react-flickity-component'`

[2020-06-29 21:30] zd4y commented on #107
Hey @KZTN , this is annoying but just use version `3.4.0`. It works fine :D

[2020-07-01 02:53] MitchEff commented on #106
Nobody has a solution? I'm gagging to find one - it's affecting all of my sliders...

[2020-07-01 03:09] MitchEff commented on #106
Resolved by removing this component and using [this](https://medium.com/yemeksepeti-teknoloji/using-flickity-with-react-a906649b11de).

[2020-07-04 17:06] monecchi opened #108 "Proper approach for setting a Loading State for flicking slider"
I was hoping to create a HOC where I’d hook on Flickity events to set a loading state so that I could display a kind of mock or loading skeleton for the slider while flickity isn’t ready or when images have not loaded yet...

I’ve tried to use the lazyload event in order to check for images and then use useEffect(), useState() to define its loading state, but that seems too late for displaying a l

[2020-07-08 13:44] Jebble commented on #107
Duplicate of #96

Install flickity seperate will fix.

[2020-07-14 14:46] #107 closed

[2020-07-14 18:19] yaodingyd commented on #93
![Screen Recording 2020-07-14 at 02 17 PM](https://user-images.githubusercontent.com/11392695/87461830-f3ae8800-c5dc-11ea-9448-3f5a22e86cc3.gif)
It works fine for me

[2020-07-14 18:20] yaodingyd commented on #94
Please use https://codesandbox.io/ to create a sandbox.

[2020-07-14 18:21] #86 closed

[2020-07-14 18:49] #101 closed

[2020-07-14 18:52] yaodingyd commented on #104
I'm assuming you are using `reloadOnUpdate`, which essentially reset flickity's state. You have to manually keep track of user's state and use flickity api to restore user's selection.

[2020-07-14 18:55] yaodingyd commented on #108
I'm afraid currently there is no good way to do this. We have this `flickityReady` internal state to indicate whether it's ready,  but it's not exposed.

Maybe we could add a `flickityReadyCallBack` option

[2020-07-14 18:57] #106 closed

[2020-07-14 18:58] yaodingyd commented on #105
Can you use codesandbox.io to create a test case?

[2020-07-14 22:04] Jebble commented on #96
@yaodingyd Just want to make sure why you closed this. Installing flickity manually is an option but a component like this surely should install flickity on it's own?

[2020-07-15 00:32] yaodingyd commented on #96
I'm not sure why it should install on it's own. Essentially it's just a very thin wrapper and giving user control of what version of flickity makes best sense for me, in this way user can upgrade flickity anytime to suit their best need instead of waiting on this component to be updated first.

[2020-07-15 09:46] Jebble commented on #96
Well flickity doesn't really need updates if the wrapper doesn't support that version, which is why you'd make sure that the wrapper component uses the version you know works. If people then want a newer version they can simply fork this component.

It's mostly weird that suddenly flickity isn't installed with this component anymore, it's not reflected anywhere in the changelog or documentation. a

[2020-07-15 15:23] yaodingyd commented on #96
You made a very good point. I'll leave it to the owner.

[2020-07-16 15:18] mrgnou opened #109 "watchCSS option is broken on first render"
When `watchCSS` Flickity option is set to `true`, first render will ignore it and flickity carousel will be active instead of staying disabled. Proper behaviour is fixed by resizing the window.

I believe this is because flickity `activate()` [method is called](https://github.com/theolampert/react-flickity-component/blob/master/src/index.js#L45) on `componentDidUpdate()`, even if it has never been

[2020-07-20 21:40] amosguata commented on #93
@yaodingyd can't you see that the margin is different before resizing window and after? Look closely.
In your case its a small difference but my hole point is that it is inconsistent.

[2020-07-21 02:40] yaodingyd commented on #93
in your example you use `padding-right: 1%;` (not margin) which is not a fixed value so it will shrink after you reduce screen size.

[2020-07-21 11:45] amosguata commented on #93
it doesn't really matter if you change the CSS to have margin-right:5px you are still not able to control the margin between images when the windows goes through resize.

before resize:
![image](https://user-images.githubusercontent.com/24566211/88051088-bc058a00-cb60-11ea-84f8-48185753b32e.png)

after resize:
![image](https://user-images.githubusercontent.com/24566211/88051120-c889e280-cb60-11ea-

[2020-07-21 11:48] amosguata commented on #93
when i am saying resize i mean full page and minimizing the browser to be less

[2020-07-21 20:23] yaodingyd commented on #93
I can't reproduce ur issue. If you really have `margin:5px` this fixed value not shown by browser, I don't think it's a question for this library.

[2020-07-24 00:31] #104 closed

[2020-08-03 17:00] spostad7 opened #111 "use asNavFor option for server side rendering"
how can we use external packages like fade and asNavFor?!
I have to slider and want to make asNavFor one for another. how can I achieve this?
I have installed these packages and using nextjs but it gives 'window is not defined'

![Annotation 2020-08-03 212914](https://user-images.githubusercontent.com/2351721/89207784-8a64d800-d5d0-11ea-9f8d-1839e84de3dd.png)

[2020-08-11 08:13] loganstellway opened #112 "`slides` property needs array type definition"
## Description

Please excuse me if I have it wrong, but I believe the [`slides` property](https://github.com/theolampert/react-flickity-component/blob/master/src/index.d.ts#L37) should have an [array (`[]`) type definition](https://www.typescriptlang.org/docs/handbook/basic-types.html#array).

**Setup**
- `react-flickity-component:3.5.0`
- `flickity:2.2.1`
- `typescript`

## Testing

- Create a c

[2020-08-26 05:41] ryanlloydfrench opened #113 "flickityRef not working."
Hi,

My code is set up like the following however I keep getting **_Cannot read property 'flkty' of undefined_**

[code]

[code]

How come I cannot access this? Is there a fix?

[2020-09-02 03:29] juanvisbalco commented on #109
@mrgnou do you have a suggested workaround while the pull request is merged and reviewed? I'm having this same problem.

[2020-09-15 08:17] mrgnou commented on #109
@juanvisbalco You can have a look at my fork.

[2020-09-15 12:19] kbadova commented on #41
Since no activity is present since 2018, I will share the way I managed to fix this error in my case.

Imagine we have the following situation:
[code]

[code]

Switching over different videos pages, `recentVideos` length will be changed and the error `The Node to be removed is not a child of this node` will appear. The reason behind is rerendering carousel children after the carousel ref is update

[2020-09-22 13:55] McGern commented on #33
If anyone ends up here, I found the hack made by @luksak on this thread  https://github.com/metafizzy/flickity/issues/534 seems to work for me where ".carousel-cell" is whatever class you have on the slide cell.

`.carousel-cell {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
}`

[2020-09-24 07:55] McGern commented on #102
I am also seeing a vulnerability with the FBJS version. Was wondering about a different solution. Given that the FBJS library is only being used for canUseDom and also given the relative simplicity of the method, can it be put into the library and remove the dependency from FBJS?

This is the canUseDom check from the library

`const canUseDOM = !!(
  typeof window !== 'undefined' &&
  window.docum

[2020-09-29 04:07] nboliver commented on #111
@spostad7 you can try something like this:

[code]

[2020-10-23 20:33] bartosjiri commented on #113
You need to define the `flkty` variable first.
At the moment, in your `<Flickity>` component you are trying to assign a value to an undefined/non-existing `flkty` variable.

In React v16.8+, you can achieve it by:

[code]
[code]

[2020-10-24 06:23] goldylucks commented on #98
Would be easier to find it if it were documented in the readme file :)

[2020-11-16 09:07] theolampert commented on #112
@loganstellway This looks reasonable, feel free to open a PR

[2020-11-16 09:09] #109 closed

[2020-11-16 10:24] #83 closed

[2020-11-16 10:25] #93 closed

[2020-11-16 10:27] theolampert commented on #102
Thanks @McGern I've just dropped this in rather than including that library

[2020-11-16 10:27] #102 closed

[2020-11-16 10:32] theolampert commented on #96
@Jebble Should have been a major bump sorry. Due to questions about flickity's licensing coming up in this repo quite a lot I thought it was better to have end users explicitly install the library themselves, I don't want it to appear as if I'm packaging his library for free. I'm open to it being included again and the docs being explicit about a license however.

[2020-11-16 10:40] #70 closed

[2020-11-18 10:47] alanoakden commented on #85
Sorry I am struggling to put together the final part, I have all that in place and the ref is working, but how do I use it with an onChange listener or similar ?

[2020-11-19 22:45] sean-van-rensburg opened #114 "Module not found"
Hi,

I have installed and uninstalled flickity with npm in different directories but keep getting the error:

_Module not found: Can't resolve 'flickity' in '~\node_modules\react-flickity-component\lib'_

How do I solve this issue?

[2020-11-20 07:05] #114 closed

[2020-12-01 03:23] MartinConde opened #115 "Can't select cell unless I directly pass the ID"
Basically I have a dropdown in which each option has an attribute corresponding to the ID of an image. My goal is to go to that image when an option is chosen. For that I am trying to use:

[code]
somevar is initially set to #someid, when I click my button, it goes to the cell with that ID perfectly.

The issue starts once I update the value of somevar. As soon as I do and then click the button, I

[2020-12-16 00:49] McGern opened #117 "Cells appearing out of slide when using cellAlign, wrapAround, groupCells and onClick"
Hi,

Just noticed something, not sure if it's an issue with flickity or the react wrapping, but I can't replicate it in a non-react environment.

When I am using a combination of cellAlign=right, wrapAround=true, groupCells=true and then apply an onClick event that is updating a useState, randomly (can't find a pattern) clicking on the cells (end cells mainly) causes the cells to reposition outsid

[2020-12-31 06:05] NitelPhyoe opened #118 "how to use flickity style in react-flickity-component?"
I normally import flickity style like

//custom.css
[code]
and import from react like
//test.tsx
`import './custom.css'`

but not working!

any answer?

[2021-01-20 23:02] MontoyaAndres commented on #89
any solution about this?

[2021-01-25 20:26] majac91 opened #119 "'Module not found, can't resolve 'flickity' with CRA"
Importing Flickity component in a CRA app throws an error:

```Module not found: Can't resolve 'flickity' in '/Users/maja/Desktop/Projects/fiberart-shop/node_modules/react-flickity-component/lib'```

My config:

<img width="1123" alt="Screenshot 2021-01-25 at 21 25 00" src="https://user-images.githubusercontent.com/62510606/105761767-d0816f80-5f53-11eb-9038-ad70698e0e2c.png">

[2021-01-26 14:40] theolampert commented on #119
Hi, you will also need to install flickity itself.

e.g:
[code]

[2021-01-26 14:40] #119 closed

[2021-01-26 14:41] theolampert commented on #118
This library doesn't make any assumptions about how you load your CSS.

[2021-01-26 14:41] #118 closed

[2021-01-26 14:46] #112 closed

[2021-01-30 17:19] #113 closed

[2021-01-30 18:39] yaodingyd commented on #115
You should use a ref or a variable outside of your functional component scope to assign flickityRef, because the current flkty gets re-initialized everytime it renders

[2021-02-03 14:33] neolectron opened #120 "Flickity hash support"
Hello, I'm having trouble getting flickity-hash to work,

based on the codesandbox link you provide, if I just add `{hash: true}` it prints :
`Type '{ hash: boolean; }' is not assignable to type 'FlickityOptions')`

see: https://codesandbox.io/s/flickity-hash-support-2kljx?file=/pages/index.tsx

Do you know any workaround for this ?

Thanks

[2021-02-05 04:00] yaodingyd commented on #120
You can use dynamic import.

Next.js provide their own API:
[code]

Or you can do the in native javascript way
[code]

Both should work.

[2021-02-05 04:01] #111 closed

[2021-02-05 04:02] yaodingyd commented on #94
Will reopen with sandbox.

[2021-02-05 04:02] #94 closed

[2021-02-05 04:02] yaodingyd commented on #88
Will reopen with sandbox.

[2021-02-05 04:02] #88 closed

[2021-02-05 04:03] yaodingyd commented on #105
Will reopen with sandbox.

[2021-02-05 04:03] #105 closed

[2021-02-05 04:04] yaodingyd commented on #89
@MontoyaAndres  can u provide a sandbox?

[2021-02-05 04:05] yaodingyd commented on #60
Will reopen with further details.

[2021-02-05 04:08] yaodingyd commented on #100
I can't reproduce any error in your sandbox. @anadutova Can you confirm if this is still an issue?

[2021-02-05 04:09] #60 closed

[2021-02-05 04:46] #97 closed

[2021-02-06 12:49] neolectron commented on #120
Thank you for your time,

unfortunately that is what I am doing, and it doesn't seem to work,
it silently does "nothing".

I have a codesandbox forked from your demo with the second method in it to show the behavior :

https://codesandbox.io/s/react-flickity-fullscreen-p1lut

Am I missing something ?

I also did it with flickity-hash, and poped-out the window to see if it has an impact ,
nothing c

[2021-02-06 21:14] yaodingyd commented on #120
https://codesandbox.io/s/react-flickity-fullscreen-forked-bpog8?file=/src/index.js

1. You need to import fullscreen's css
2. You need to specify `fullscreen: true`, just like in flickity's document

[2021-02-07 10:26] neolectron commented on #120
My bad I shared the wrong Codesanbox link,
but yours is still kind of weird, there's strange stuff happening.

Actual behavior :

- Upon first landing on the page, the flickity-fullscreen icon is not there.
- (I think the flickity-fullscreen plugin isn't loaded at all at this point)
- It only appears after clicking "Open in new window" in the top-right corner.
- (Or playing mad with refresh / hot-

[2021-02-08 04:30] yaodingyd commented on #120
I suspect this is because how codesandbox works. I copied the project locally and it always works. Can u try that?

[2021-02-08 11:37] kunaldongre24 commented on #41
I already have added the key but nothing seems to chage, I am still having the error.

[2021-02-24 18:56] SergioTabarini opened #121 "Using with flickity-as-nav-for - Typescript"
Hello, does someone know how to implement the flickity-as-nav-for using this react-flickity-component in NextJs and using typescript?

Right now Im using these options for the main and the nav carousel, Im a little bit lost on how this should work, any advice? thanks.

[code]

[code]

[2021-03-16 22:05] ivanlucci1 commented on #121
Hello Sergio, I was passing through the same problem here. I found a solution using Flickity's API and Events, as described on the end of the README.md file. Here is an adaptation I made using 2 Flickity instances:

[code]

Hope it helps =D

[2021-03-24 18:22] usamecavga commented on #106
I solved this problem by adding **initialIndex: 2** to options.
Hope to help you.

[2021-04-12 20:58] ivanlucci1 commented on #117
Hello,

Have you found a solution for this @McGern ?

I'm not using 'groupCells' option, but i'm facing the same problem here... I tried to remove all CSS styles but the problem keeps... seems to be a bug of this component.

[2021-04-16 21:24] McGern commented on #117
No sorry. My solution was to not use any of those options unfortunately and
had to go with a simpler approach of the standard setup. The reason I
wanted this was to have the last cells in the sequence be on the right hand
side before the loop started again. It mostly worked, but the reason for
backtracking now fails me.

On Mon, 12 Apr 2021, 21:59 Ivan Lucci, ***@***.***> wrote:

[2021-05-09 15:56] mmdzov opened #123 "prev/next arrow size problem in firefox browser"
**The size of these cases is very large, please think about this**

[2021-05-09 16:00] mmdzov commented on #123
This happened when I got the build project

[2021-05-09 17:17] #123 closed

[2021-05-21 10:07] BaseMax opened #124 "npm ERR! Could not resolve dependency: npm ERR! peer react@"^16.14.0" from react-flickity-component@3.6.1"
#### [max@workstation Web]$ npm install
[code]

[2021-05-23 23:01] brandondurham commented on #70
Unsubscribing listeners didn’t do the trick for me. I actually removed them altogether and still get the warning in my tests, and occasionally in the browser.

[2021-05-28 12:09] BaseMax commented on #124
Hi again;

No any solution and plan to solve or help me how can solve this?

Thanks in advance.

[code]

[2021-06-02 07:51] anhtran commented on #124
Currently, the only way is adding flag `--force`. We must wait for the author updates the `peerDependencies`.

[2021-07-02 15:52] nelsondude commented on #104
@wcauchois Do you recall your solution for this? I'm assuming reloadOnUpdate needs to be false but then what else is required?

[2021-07-08 05:10] lastant opened #125 "Force reload"
Is it possible to force reload? I tried using reloadOnUpdate, but it reloads on each state change, and I'd like to have more control, make it reload conditionally, at least being able to specify dependency values.

[2021-07-26 09:32] theolampert commented on #124
@anhtran @BaseMax Could one of you open a pull request for this please?

[2021-07-26 09:42] #96 closed

[2021-08-27 16:40] Snuuson opened #127 "Option "pauseAutoPlayOnHover" missing."
Option "pauseAutoPlayOnHover" missing. #128

[2021-08-30 16:51] #127 closed

[2021-08-30 16:52] #124 closed

[2021-09-07 08:40] Antonio-Laguna commented on #124
@yaodingyd and @theolampert this needs to be released for this to be actually fixed

[2021-09-07 08:43] theolampert commented on #124
Thanks @Antonio-Laguna and for your contribution too, @yaodingyd is taking over the project so I'll let him do an npm release, can you verify it works if you point to the repo in your package.json?

[2021-09-07 08:50] Antonio-Laguna commented on #124
Thanks @theolampert

It does work like that, I can confirm. Just retried:

![](https://user-images.githubusercontent.com/946645/132314966-5eeffc31-d257-45f1-b7c1-04c8eadd1061.png)

Bunch of warnings after replacing but has nothing to do with this.

[2021-09-07 19:55] yaodingyd commented on #124
3.6.2 is out

[2021-09-22 04:58] thangly98 opened #129 "Doesn't work well on Safari iOS 15"
I can't seem to slide it

[2021-12-07 04:49] dnor-dev opened #131 "Please i've been having issue using the flickityRef, i can't wrap my head around it"
I'm using next js(typescript) and i'm trying to use a custom icon and assign the functionality to it
i'm seriously having a hard time with it and any help will be appreciated, thanks.

[2021-12-09 01:23] dskelton-cos commented on #129
Issue raised in the flickity library too. https://github.com/metafizzy/flickity/issues/1177

[2021-12-28 02:03] alts1994 commented on #131
This [response](https://github.com/yaodingyd/react-flickity-component/issues/85) helped me figure it out.

If you're using a functional approach, you need to create a ref outside of the Flickity component and then define it using FlickityRef. Once that's done you can access the `previous` and `next` methods to slide the Flickity component.

[code]

[2022-02-14 12:36] adamjw3 opened #132 "Storybook"
Getting an error in storybook, how can i resolve this?
Cannot find module 'flickity'
Error: Cannot find module 'flickity'
    at webpackMissingModule (http://localhost:6006/vendors~main.iframe.bundle.js:126850:86)
    at FlickityComponent.componentDidMount (http://localhost:6006/vendors~main.iframe.bundle.js:126850:169)
    at commitLifeCycles (http://localhost:6006/vendors~main.iframe.bundle.js:1

[2022-03-01 16:32] martinrojas commented on #107
should the documentation not be updated that flickity should be installed separately now

[2022-03-01 17:59] yaodingyd commented on #107
document updated

[2022-03-07 07:06] b-novikov-ipersonality opened #133 "after updating to flickity 3.0 carousel started to display slides one on top of the other"
demo: https://codesandbox.io/s/infallible-driscoll-hui4dy?file=/src/App.js

[2022-03-08 15:08] yaodingyd commented on #132
flickity is a peer dependency, you would need to install it seperately

[2022-03-12 17:32] yaodingyd commented on #133
Please hold off using v3+ as the author states it's not stable yet.

https://github.com/metafizzy/flickity/issues/1210#issue-1161562881

[2022-03-16 13:18] gregg-cbs commented on #129
This is potentially solved and can be closed.

I left a comment on the related ticket, right at the bottom:
https://github.com/metafizzy/flickity/issues/1177

[2022-03-16 14:28] #129 closed

[2022-04-12 11:19] edenizk commented on #41
Be sure that your key for slider/carousel is changing correctly depending on the value of slides it includes.
I have used JSON.stringify for the entire object of slides :)

[2022-04-16 09:24] haase1020 opened #134 "Updating flickity peerDependency and devDependency to 3.0.0"
Currently the version of flickity used for this repository is 2.2.1. I installed flickity version 2.3.0 as recommended in the README, but I also use `flickity-as-nav-for` and `flickity-fade` packages that are now updated to `flickity` version 3.0.0. I would like to update my repository to `flickity` 3.0.0, but when I do so I get a warning that `react-flickity-component@3.6.2" has incorrect peer de

[2022-04-16 11:34] haase1020 commented on #70
I am not sure why this case is closed... I am still running into the same issue even though I am cleaning up the listener in my useEffect after unmounting. Any suggestions on how to troubleshoot?

[2022-04-16 13:01] nullhook commented on #70
ensure you're component is properly unmounted - try logging from the unmount function and see if it triggers on unmount. also, it depends on how you're defining `flickityRef`

[2022-04-25 01:59] haase1020 opened #135 "Updating peer dependencies to support React v. 18"
First of all, thank you for this package! I would like to continue using react-flickity-component in my project, but I am getting an error about an incorrect peer dependency when I try to upgrade to React v. 18. Is it possible to update peer dependencies to support React v. 18? I am more than happy to help in any way I can!

[2022-04-25 02:19] yaodingyd commented on #135
PR  is welcome. Could you also verify it is working with react 18?

[2022-04-26 08:54] haase1020 commented on #135
Sounds good! I will submit a PR as soon as I verify that the code works with react 18.

[2022-05-12 10:40] nathnhughes commented on #135
+1 for this 👍

At first glance, it seems my issue is to do with `React` no longer including `children` in the default component props, so would need to integrate `PropsWithChildren`.

[2022-06-11 04:04] PQPMath3ws commented on #135
Works in some days... Now, the error with react 18 persists again.

[2022-06-18 15:23] imnamnv opened #136 "Error children with typescript"
[code]
      I have a error with TypeScript:  Property 'children' does not exist on type 'IntrinsicAttributes & IntrinsicClassAttributes<Flickity> & Readonly<Props>'.

      Thank you

[2022-07-13 23:07] muinmundzir commented on #136
Have you solved it yet? I found some same issue too

[2022-08-12 23:17] yaodingyd commented on #134
Until 3.0 is stable,  we will hold off upgrading to it. https://github.com/metafizzy/flickity/issues/1210#issue-1161562881

[2022-08-12 23:25] yaodingyd commented on #136
[v3.6.3](https://www.npmjs.com/package/react-flickity-component/v/3.6.3) should fix it

[2022-10-24 11:37] j2is commented on #135
Ditto

[2022-10-27 00:25] bogdanbpeterson commented on #135
`npm` refuses to install `react-flickity-component`, but yarn installs it, with error tho
![image](https://user-images.githubusercontent.com/66746788/198162910-9f28c2bb-d6bf-4796-9a50-f574e83e4adf.png)

It works perfectly with react > 18

[2022-10-27 00:38] bogdanbpeterson commented on #135
Here's working app example https://showcase-rfc-with-react-18.vercel.app/
And repo https://github.com/bogdanbpeterson/showcase-rfc-with-react-18

[2022-10-30 03:16] ogaguinaga commented on #135
Is there any news o this? i would like to use this package with react 18 🙂

[2022-10-30 03:35] bogdanbpeterson commented on #135
You can, install it with yarn, but it's not safe (haha, it's obvious, isn't it? 😂)

[2022-10-30 03:41] ogaguinaga commented on #135
yeah... 😅  I meant more about this issue being merged and released

[2022-10-31 14:13] yaodingyd commented on #135
PR welcome

[2022-11-04 15:56] cooperwfloyd commented on #135
@bogdanbpeterson looks like your example is working great with React 18 — you could PR the changes that you made? Looking forward to using this with Next.js 13, as their minimum React version is 18.

[2022-11-04 16:09] bogdanbpeterson commented on #135
@cooperwfloyd I changed literally nothing, just installed it using `yarn` instead of `npm`.
I don't even know what to change to create a PR 😅

[2022-11-04 16:14] cooperwfloyd commented on #135
Haha 😆 thanks for the quick reply @bogdanbpeterson, good to know. Sounds to me then like it is just an issue with the newer NPM versions handling peer dependencies differently. If that is true, sounds like we are good to upgrade React here since it is working as expected, just need to get around the peer dependency issue. I can PR the React upgrade.

[2022-11-04 18:26] cooperwfloyd commented on #135
Haha 😆 well thanks for the quick reply @bogdanbpeterson. My guess is that it is a conflict with the newer Node / NPM versions and how they check peer dependencies then. Thanks for the info 👍

[2022-11-14 23:13] ogaguinaga commented on #135
is there any news on this PR?

[2022-11-22 20:40] ogaguinaga commented on #135
Is there a reason why this is not moving anywhere? I would love to use this 😅  anything I can do to help and accelerate this process?

[2022-11-23 17:34] cooperwfloyd commented on #135
@ogaguinaga someone just needs to PR the changes to make this library compatible with React 18 and recent Node versions without the use of `--legacy-peer-deps` during installation. If you want to move this forward and have the time you are welcome to PR those changes 👍